*{
  box-sizing: border-box;
}

body {
  background-image: 
    url("/assets/grid.png"),
    url("/assets/stars.png"),
    linear-gradient(180deg, #E1BEF6 0%, #A6DBFF 100%);
  background-size: 100% 100%, cover, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: url("/assets/Pil.png"), auto;
}

.desktop-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.upper-desktop-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

}

.bottom-desktop-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-component {
  margin-right: 300px;
  margin-bottom: 20px;

}

.checklist-component {

  margin-left: 200px;
  margin-top: 20px;

}

.icons-component {
  margin-left: 100px;

}

.clock-component {
  margin-right: 20px;

}

.contact-component{
  position: absolute;
  top: 30%;
  left: 40%;
}

.portfolio-component{
  position: absolute;
  top: 10%;
  left: 25%;

}

.project-component{
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
  
}

.open-animation{
  animation: open 0.3s ease-in-out;
}

.close-animation{
  animation: close 0.3s ease-in-out;
}

/* ANIMATION */
@keyframes close {
  0%{
    transform: scale(1)
  }
  100%{
    transform: scale(0)
  }
}

@keyframes open {
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1)
  }
}


@keyframes spin-back-forth {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

.window{
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.30);
  display: inline-block;
  border-radius: 10px;
  max-width: 618px;
  
}
.container--small-width{
  max-width: 400px;
}

.display-none{
  display: none;
}

.window__top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px; 
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #502A07;
  padding: 0 20px;
  color: #502A07;  
}

.window__body{
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #502A07;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: scroll;

}

.window__body--small-height{
  height: 250px; 
}

.window__body--big-height{
  height: 430px; 
}

.bg--transparent{
  background: none;
  border: none;
}

.bg--yellow{
  background: #FBD16D;
}

.bg--pink{
  background: #F4CDCA;
}

.bg--green{
  background:#77BDA1;
}

.bg--beige{
  background: #FFF4DB;
}

.clock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 332px; 
  border-radius: 10px;
  border: 3px solid #FFF;
  background: rgba(225, 190, 246, 0.33); 
}

/* GROUPS */

.all-icons-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 20px 0 
}

.icon-group{
  max-width: 60px;
  text-align: center;
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  cursor: url("/assets/Peka.png"), auto;
}

.div-container {
  position: relative;
}

.project-tag-group {
  position: absolute;
  bottom: 0; 
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.window__button-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.625em;
  
}



/* IMAGES, ICONS, BUTTONS */

.langauage-flag{
  font-size: 30px;
  padding: 0;
  margin: 0;
  cursor: url("/assets/Peka.png"), auto;
}

.flags-group{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}

.icon{
  width: 70px;
}

.checkbox{
  width: 20px;
  height: 20px;
  cursor: url("/assets/Peka.png"), auto;
}

.checklist-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.project-tag{
  display: inline-block;
  background: #FBD16D;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 0 10px 10px;
  border: 2px solid #502A07; 

  }


.fa-x{
  font-size: 1.125rem;
  cursor: url("/assets/Peka.png"), auto;
}

.image-div{
  position: relative;
  background-image: url("/assets/avatar-andrea.jpeg");
  width: 249px;
  height: 250px;
  border: 2px solid #502A07;
  float: right;
  margin: 20px 0 20px 30px; 
  background-size: cover; 
  background-position: center;
}

.image-sticker1{
  position: absolute;
  width: 90px;
  left: -10%;
  top: -10%;
  animation: spin-back-forth 3s infinite;
}

.image-sticker2{
  position: absolute;
  width: 75px;
  left: 80%;
  bottom: -12%;
  animation: spin-back-forth 3s infinite;
}

.window__button{
  background-color: #77BDA1;
  border: 2px solid #502A07;
  border-radius: 10px; 
  padding: 10px; 
  color: #000;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.875rem;
  font-weight: 400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  margin: 10px 10px 20px 10px;
  cursor: url("/assets/Peka.png"), auto;
  text-decoration: none;
  transition: background-color 0.3s ease;

}

.window__button:hover{
  background-color: #59967d;
}

/* TEXT */

a{
  text-decoration: none;
  color: black;
}

.window__title{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-top:1.25em;
}

.body-text{
  color: #000;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  
}

.small-text{
  font-size: 0.75rem;
  font-family: 'Source Code Pro', monospace;
  margin-top: 0.625em;
}

.clock-time,
.clock-date{
  color: #FFF;
  font-family: Miriam Libre;
  font-weight: 400;
  margin: 10px;
}

.clock-time{
  font-size: 94px;
  border-bottom: #FFF 3px solid;
  
}

.clock-date{
font-size: 40px;
}

ul{
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 2.8125em;
  gap: 23px;
  padding:0;
}

.li-mail{
  background-image: url("/assets/mail-contact.png") left center no-repeat;
    background-size: 20px; 
    padding-left: 30px;
    cursor: url("/assets/Peka.png"), auto; 
}

.li-phone{
  background-image: url("/assets/phone.png") left center no-repeat;
    background-size: 20px; 
    padding-left: 30px;
    cursor: url("/assets/Peka.png"), auto; 
}

/* MEDIA QUERIES */

@media (max-width: 600px){
  .image-div{
    float: none;
    margin: 10px auto;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0px;
  }
  .project-tag{
    padding: 0 5px;
  }

  .clock-time{
    font-size: 70px;
    
  }
  
  .clock-date{
  font-size: 30px;
  }
  
}

@media (max-width: 1500px){
  .about-component,
  .checklist-component, 
  .icons-component, 
  .clock-component,
  .project-component,
  .portfolio-component,
  .contact-component{
    margin: 10px 20px;
  }

}

@media (max-width: 1000px) {
  .portfolio-component,
  .project-component,
  .contact-component{
    position: static;
  }

  .upper-desktop-row,
  .bottom-desktop-row{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}